body{
    font-family: monospace;
    font-size: 11px;
}

.jugador {
    display: none; /* Ocultamos las imágenes por defecto */
    width: 30px;
    height: 30px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

.tablero-celdas{
    width: 150px;
    height: 150px;
}

.tablero-celda-numerada{
    border: 1px solid black;
    
}

.tablero-celda-numerada .contenedor-datos-celda{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.tablero-celda-numerada .contenedor-datos-celda .numero-celda{
    background-color: gray;
    width: 30px;
    padding: 5px 0px;
    border-radius: 0 0 25% 25%;
    text-align: center;
    margin-top: -1px;
    font-size: 12px;
}

.tablero-celda-numerada .contenedor-datos-celda .operacion-celda{
    background-color: gray;
    padding: 1px 3px ;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
    min-height: 30px;
}

#contenedor-dados{
    display: flex;
    
}

#contenedor-dados div{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    line-height: 12px;
    margin: 15px;
    padding: 10px 11px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10%;
}
#contenedor-dados div span{ 
    width: 100%;
    text-align: center;
}

.jugador-visible{
    display: block !important;
    position: absolute;
    margin-top: -68px;
    margin-left: 56px;
}
.ficha{
    border-radius: 50%;
    padding: 0 3px;
    text-shadow: 5px 1px 0 white,
              -1px -1px 0 white,  
              1px -1px 0 white,  
              -1px 1px 0 white;
}

.ficha.ficha-black{
    background-color: black;
}

.ficha.ficha-green{
    background-color: green;
}

.ficha.ficha-red{
    background-color: red;
}

.ficha.ficha-blue{
    background-color: blue;
}